<xf:title>Transfer Guild: {$guild.guild_name} [{$guild.guild_tag}]</xf:title>

<xf:form action="{{ link('canonical:guilds/transfer', $guild) }}" method="post" class="block">
<div class="block-container">
    <div class="block-body">
        <dl class="formRow formRow--input formRow--fullWidth">
            <dt>{{ phrase('moturdrn_gw2guilds_you_are_about_to_transfer') }}</dt>
            <dd>
                <img src="<xf:callback class="Moturdrn\\GW2Guilds\\Listener" method="getEmblem" params="[{$guild.guild_name}]"></xf:callback>" />
                <div class="formRow-explain">{$guild.guild_name} [{$guild.guild_tag}]</div>
            </dd>
        </dl>

        <dl class="formRow formRow--input formRow--fullWidth">
            <dt>
                <div class="formRow-labelWrapper">
                    <label class="formRow-label" for="username">Transfer to</label>
                </div>
            </dt>
            <dd>
                <xf:textbox name="username" id="username" placeholder="{{ phrase('name...') }}" ac="single" data-autosubmit="false" autocomplete="on" />
            </dd>
        </dl>

        <dl class="formRow formRow--input formRow--fullWidth">
            <dt>
                <div class="formRow-labelWrapper">
                    <label class="formRow-label" for="xferaction">Old Leader Status</label>
                </div>
            </dt>
            <dd>
                Officer <input type="radio" name="xferaction" id="xferaction" value="Officer" checked /> Member <input type="radio" name="xferaction" value="Member" /> Remove <input type="radio" name="xferaction" value="Remove" />
            </dd>
        </dl>

        <dl class="formRow formSubmitRow formSubmitRow--sticky">
            <dt></dt>
            <dd>
                <div class="formSubmitRow-main">
                    <div class="formSubmitRow-bar"></div>
                    <div class="formSubmitRow-controls">
                        <button class="button button--primary button--icon button--icon--sort"><span class="button-text">Transfer Guild</span></button>
                    </div>
                </div>
            </dd>
        </dl>
    </div>
</div>
</xf:form>